[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
max_allowed_packet=1G
wait_timeout = 28800
interactive_timeout = 28800
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_connections = 10000
thread_cache_size = 100

query_cache_type = 1
query_cache_size = 20M

table_open_cache=256
sort_buffer_size=10M
read_buffer_size=2M
skip-character-set-client-handshake

myisam_sort_buffer_size=6G
key_buffer_size=1G
myisam_max_sort_file_size=6G
